body{
    background-color: rgb(23, 23, 23);
    transition: background 1s ease-in-out;
}
html{
    overflow: hidden;
}
body,html{
    display: flex;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: medium;
    font-family: Atkinson Hyperlegible Next;
    font-weight:600;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.btn-hidden{
    font-size: medium;
    font-family: Atkinson Hyperlegible Next;
    font-weight:600;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.grey{
    height: 3.5vh;
    width: 40vh;
    background-color: rgb(60, 58, 58);
    position: fixed;
    top: 10%;
    display: flex;
    margin: 0;
    animation: LightOn  linear;
    transition: background 0.5s, box-shadow 0.5s;
    align-items: center;
}

.black1 , .black2{
    background-color: black;
    height: 4vh;
    width: 3vh;
    margin: 0;
    box-sizing: border-box;
}
.black2{
    position: absolute;
    left: 95%;

}
.black1{
    position: absolute;
    left: 0%;
}
.on {
    background-color: white; 
    box-shadow: 0px 0px 50px white;
    border: 1px solid black;
}
.deco > img{
    height: 20vh;
    width: 40vh;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) translateX(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) translateX(0); 
        opacity: 1;
    }
}
.ani-play{
    display: block;
    animation: animate 4s linear 1 backwards;
}
.hidden{
    display: none;
}
.deco-line {
            position: relative;
            top:-300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
        }

        hr {
            position: absolute;
            width: 0%;
            left: 0%;
            border: 2px solid white;
            top: 28vh;
            animation: expandLine 2s linear forwards;
        }

        .line-container {
            position: absolute;
            top: 29.5vh;
            left:50px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            opacity: 0;
            animation: fadeIn 1s ease-in forwards;
            animation-delay: 2s;
        }

        .vertical-line {
            width: 0.7vh;
            height: 7vh;
            background-color: white;
            position: relative;
            opacity: 0;
            animation: fadeIn 1s ease-in forwards;
            animation-delay: 2.5s;
        }

        .line-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pic {
            height: 150px;
            width: 90px;
            position: absolute;
            top: 85px;
            left: -150px; 
            opacity: 0;
        }

        .line-wrapper .pic {
            top: 7vh;
            left: 50%;
            transform: translateX(-50%);
        }

        .glow {
            animation: glowEffect 1s infinite alternate ease-in-out;
        }

        @keyframes expandLine {
            0% { width: 0%; }
            100% { width: 100%; }
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        @keyframes moveIn {
            0% { left: -150px; opacity: 0; }
            100% { left: 50%; opacity: 1; transform: translateX(-50%); }
        }

        @keyframes rotateImage {
            0% { transform: translateX(-50%) rotate(10deg); }
            50% { transform: translateX(-50%) rotate(-10deg); } /* Added 50% step */
            100% { transform: translateX(-50%) rotate(10deg); } /* Return to original rotation */
        }

        @keyframes glowEffect {
            0% { box-shadow: 0 0 5px white; }
            100% { box-shadow: 0 0 20px white; }
        }
